<div class="launches-container">
    <h1>Launches</h1>
    <p *ngIf="launches.length === 0">No Launches scheduled yet</p>
    <ol>
        <li id="{{launch.id}}" *ngFor="let launch of launches">
            <button class="mr-2" size="sm" (click)="alertLaunch(launch)">X</button>
            {{launch.name}} | Weight: {{launch.mass.kg}} kg
        </li>
    </ol>
</div>