<div>
    <div id="{{ foo.id }}">
        <div style="width: '46rem'" class="mt-4 card-container">
            <h2>{{ foo.name }}</h2>
            <ul variant="flush">
                <li class="rocketdetails">{{ foo.description }}</li>
                <li>Weight: {{ foo.mass.kg }} KG</li>
            </ul>
            <button class="card card-small" (click)="scheduleLaunch(foo)">Schedule Launch</button>
        </div>
    </div>
</div>